@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,500;1,200&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.navbar{
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    background: white;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
}
.logo{
    flex:20%;
    margin-left: 10%;
    /* border:1px solid red; */
    text-align: left;
}
.logo h1{
    font-family: 'Lobster', cursive;
    color: #5146af;
    font-size: 34px;
}
.menu{
    flex: 70%;
    /* border:1px solid green; */
    text-align: right;
    padding: 20px;
}
.menu a{
    color: #5146af;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
}
.menu a:hover{
    color:#ff8b84;
    border-top: 4px solid #180F4A;
}
.drop{
    display: inline-block;
}
.drop-content{
display: none;
position: absolute;
background: rgba(255, 255, 255, 0.921);

}
.drop:hover .drop-content{
    display:block;
    margin-top: 20px;
    border-radius: 5px;
}
.drop-content a{
    color: #5146af;
    display: flex;
    flex-flow: column wrap;
    text-align: left;
}
#botao{
    background: #5146af;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;
    text-decoration: none;
}
#botao:hover{
    border: none;
    background:#ff8b84;
}
.header{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: white; 
    padding-top: 100px;
}
.headline{
    margin-left: 10%;
    flex:30%;
    /* border: 1px solid black; */
}
.headline h2{
    font-weight: 900;
    font-size: 20px;
    color: #5146af;
    padding: 0;
    margin: 0;
}
.headline p{
    color: gray;
    text-align: left;
}
.img-headline{
    margin-right: 10%;
    flex: 50%;
    /* border: 1px solid deeppink; */
    text-align: center;
}
.contact-btn{
    display: inline-block;
    background: #ff8b84;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
}
.contact-btn:hover{
    background:#5146af;
}
section{
    display: inline-block;
    margin-top: 80px;
    /* border:1px solid black; */
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    text-align: center;
}
section h2{
    width: 100%;
    font-size: 50px;
    margin: 0;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    color:#5146af;
}
.servicos{
    display: inline-block;
    margin-top: 5%;
}
.card{
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
    border: 1px solid #ff8b84;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.texto-oculto{
    display: none;
}
.card:hover{
    background: #ff8b84;
    color: white;
    padding: 40px;
}
.card:hover img{
    display: none;
}
.card:hover .card-text{
    display: none;
}
.card:hover .texto-oculto{
    display: block;
}
.header2{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background: white; 
    padding-top: 100px;
}
.headline2{
    margin-left: 10%;
    margin-right: 9%;
    flex:30%;
    /* border: 1px solid black; */
}
.headline2 h2{
    font-weight: 900;
    font-size: 20px;
    color: #5146af;
    padding: 0;
    margin: 0;
    text-align: center;
}
.headline2 p{
    color: black;
    text-align: center;
    font-size: large;
    letter-spacing: 1px;
    width: 800px;
}
.img-headline2{
    margin-right: 1%;
    flex: 20%;
    /* border: 1px solid deeppink; */
    text-align: center;
}
.contact-btn2{
    display: none;
    background: #ff8b84;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
}
.contact-btn2:hover{
    background:#5146af;
}
.servicos2{
    display: inline-block;
    margin-top: 5%;
}
.card2{
    display: inline-block;
    width: 22%;
    padding: 20px;
    margin: 1%;
    border: 1px solid #ff8b84;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.bloco{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: white; 
    padding-top: 100px;
}
.headli{
    margin-right: 10%;
    margin-top: 60px;
    flex: 10%;
    /* border: 1px solid deeppink; */
    text-align: left;
}
#servicos3{
    display: inline-block;
    margin-top: 5%;
}
.card3{
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
    /* border: 1px solid #ff8b84; */
    border-radius: 20px;
    cursor: pointer;
    background-image:url("../img/back3.jpg");
    background-size: contain;
    color: white;
    cursor: pointer;
    box-shadow: 4px 4px 15px #ff8b84;;
}
.card-text3{
    width: 780px;
    height: 160px;
}
.card-text4, .card-text5{
    width: 780px;
    height: 160px;
}
.card4{
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
    /* border: 1px solid #ff8b84; */
    border-radius: 20px;
    cursor: pointer;
    background-image:url("../img/back2.jpg");
    background-size: auto;
    color: white;
    cursor: pointer;
    box-shadow: 4px 4px 15px #757c8f;
}
.card5{
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
    /* border: 1px solid #ff8b84; */
    border-radius: 20px;
    cursor: pointer;
    background-image:url("../img/back1.jpg");
    background-size: auto;
    color: white;
    cursor: pointer;
    box-shadow: 3px 3px 15px #360535;
}
#app{
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    margin-left: 10%;
    margin-right: 10%;
    height: 600px;
    /* border: 1px solid black; */
    background: #dfe7fe;
    border-radius: 20px;
}
#app h2{
    margin-left: 50px;
    margin-top: 80px;
    width: 600px;
    font-family:'Poppins', sans-serif; 
    font-size:30px; 
    text-align: left;
    color: #5146af;
    /* border: 1px solid black; */
}
#app p{
    font-family:'Poppins', sans-serif; 
    font-size:15px; 
    text-align: right;
    margin-top: 80px;
    margin-left: 10%;
    justify-content: right;
    align-items: right;
    color: #5146af;
    /* border:1px solid black */
}
.app-icon{
    display: flex;
    flex: 30%;
    flex-flow: row wrap;
    justify-content: left;
    align-items: center;
    /* border: 1px solid black; */
}
.app-icon h3{
    font-family:'Poppins', sans-serif; 
    font-size: 20px; 
    margin-left: 50px;
    margin-top: 70px;
    color: #5146af;
    /* border: 1px solid black; */
}
.app-icon ul, li{
    flex-flow: row;
    text-decoration: none;
    padding: 15px;
    margin-left: 10px;
    /* border: 1px solid black; */
}
.app-last{
    flex: 10%;
    display: flex;
    flex-flow: row wrap;
    justify-content: right;
    align-items: top;
    margin-right: 30px;
    /* border: 1px solid black; */
}
.app-last h3{
    margin-top: 90px;
    font-family:'Poppins', sans-serif; 
    font-size: 20px; 
    text-align: right;
    color: #5146af;
    /* border: 1px solid black; */
}
.app-last p{
    font-family:'Poppins', sans-serif; 
    font-size: 10px; 
    text-align: right;
    margin-bottom: 50px;
    color: #5146af;
    /* border: 1px solid black; */
}
.headline3{
    margin-left: 10%;
    margin-right: 10%;
    flex:40%;
    /* border: 1px solid black; */
}
.headline3 h2{
    font-weight: 800;
    font-size: 20px;
    color: #5146af;
    padding: 0;
    margin: 0;
}
.headline3 p{
    color: gray;
    text-align: left;
}
.img-headline3{
    margin-right: 10%;
    flex: 30%;
    /* border: 1px solid deeppink; */
    text-align: center;
}
.servicos4{
    display: flex;
    margin-top: 5%;
    /* border: 1px solid black; */
}
.card8{
    padding: 40px;
    background: rgb(255, 255, 255);
    margin: 1%;
    margin-top: 30%;
    width: 450px;
    border: 2px solid #ff8b84;
    border-radius: 20px;
    cursor: pointer;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
footer{
    margin-top: 100px;
    height: 400px;
    background-image: linear-gradient(#5146af,#180F4A,#090422);
    text-align: center;
    border-top: 5px solid #ff8b84;
}
.logo-rodape{
    padding: 100px;
}
.agencia{
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 34px;
}
.whats{
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 100px;
}
.form h2{
    margin:10px 0;
    padding-bottom:10px;
    width:180px;
    color:#5146af;
    border-bottom:3px solid #78788c;
}
input{
    width:100%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-family:'Poppins', sans-serif;
    transition:all .3s;
    border-bottom:2px solid #bebed2;
}
input:focus{
    border-bottom:2px solid #78788c;
}
.form p:before{
    content:attr(type);
    display:block;
    margin:28px 0 0;
    font-size:14px;
    color:#5146af;
}
.form button{
    float:right;
    padding:8px 12px;
    margin:8px 0 0;
    font-family:'Poppins', sans-serif;
    border:2px solid #78788c;
    background:0;
    color:#5146af;
    cursor:pointer;
    transition:all .3s;
}
.form button:hover{
    background:#5146af;
    color:#fff;
}
.form1{
    display: flex;
    content:'Hi';
    bottom:-15px;right:-20px;
    background: #ff8b84;
    color: white;
    width:340px;
    margin-top: 75px;
    padding:16px 4px 16px 0;
    border-radius:6px;
    font-size:13px;
    box-shadow:10px 10px 40px -14px #000;
}
span{
    display: flex;
    flex-flow: row wrap;
    margin:0 5px 0 15px;
    font-family:'Poppins', sans-serif;
    /* border: 1px solid black; */
}
.phone img{
    width: 20px;
    height: 20px;
}
.envelope img{
    width: 20px;
    height: 20px;
}